<div class="container-fluid">

  <div class="col-sm-12 mt-5 ">
    <div class="details">
      <ul>
        <div class="row">
          <div class=" card skills ms-sm-2 col-sm-3">
            <h4>Skills</h4>
            <li>Java</li>
            <li>JSP</li>
            <li>SpringMVC</li>
            <li>Spring</li>
            <li>html</li>
            <li>AJAX</li>
            <li>JSON</li>
            <li>CSS</li>
            <li>Restful API</li>
            <li>Hibernate 4</li>
          </div>

          <div class=" card skills ms-sm-4 col-sm-4">
            <h4>Education</h4>
            <li>
              <h5>P.A College of Engineering And Technology</h5>
              <p>B.E Computer Science And Engineering 2016 - 2019, Pollachi, India.</p>
              <span>CGPA: 6.3</span>
            </li>

            <li>
              <h5>P.A Polytechnic College</h5>
              <p>Diploma in Computer Science Engineering 2013 - 2016, Pollachi, India.</p>CGPA: 7.4
            </li>
          </div>
          <div class=" card skills ms-sm-4 col-sm-3">
            <h4>Certificate</h4>
            <li>
              <h5>Java Selenium (05/2022 - 10/2022)</h5>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
