<div class="container-fluid">


<div class=" card skills  mt-5  ms-sm-4 col-sm-10" style="margin-left: 100px !important;">
  <h4>WORK EXPERIENCE :</h4>
  <div class="subsection-title fw-bold">Ariztid Technologies Pvt Ltd :</div>
  <div>Java Backend Developer Dec 2022 - Present, Coimbatore, India.</div>
  <div class="ms-sm-3">Ariztid is a specialized technology consulting firm that delivers
      comprehensive services spanning PLM and Enterprise, Web, and Mobile Applications. Its
      offerings encompass Custom Application Development, Technology Consulting, Packaged
      Applications, Technology Support, Need-based Staffing, and Corporate Training.</div>
  <div class=" fw-bold">Responsibilities:</div>
  <ul>
      <li>Developed and implemented new features according to client specifications, ensuring
          seamless integration with existing systems.</li>
      <li>Troubleshooting and resolving issues for seamless application functionality.</li>
      <li>Developing and integrating RESTful APIs for effective system communication.</li>
      <li>Conducted thorough testing and debugging to identify and resolve issues, ensuring
          high-quality software delivery.</li>
      <li>Actively participated in team meetings and discussions to brainstorm solutions,
          share ideas, and improve development processes.</li>
      <li>Demonstrated adaptability and flexibility in handling changing project requirements
          and evolving technologies.</li>
  </ul>

  <div class=" fw-bold">SmartCliff :</div>
  <div>Java Selenium internship May 2022 - Oct 2022, Coimbatore, India</div>
  <div class=" fw-bold">Responsibilities:</div>
  <ul>
      <li>Contribute to the development of comprehensive test plans based on project
          requirements.</li>
      <li>Design and create detailed test cases to cover functional and non-functional aspects
          of software.</li>
  </ul>
</div>


</div>
