<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cherry+Swash">
<div class="container-fluid">
  <nav>
    <a routerLink="/home" routerLinkActive="active"><i class="fa fa-fw fa-home"></i> Home</a>
    <a routerLink="/about" routerLinkActive="active" ><i class="fa fa-fw fa-quote-left"></i> About</a>
    <a href="#"  routerLinkActive="router-link-active"><i class="fa fa-fw fa-rss"></i> Blog</a>
    <a href="https://uthayakumar4756.github.io/uthaya-bio/MyBio.html"><i class="fa fa-book"></i> Portefolio</a>
    <a href="#"><i class="fa fa-fw fa-phone"></i> Contact</a>
    <div class="animation start-home"></div>
  </nav>
</div>
