<div class="container-fluid">

  <div class=" card skills  mt-5  ms-sm-4 col-sm-10" style="margin-left: 100px !important;">
    <h4>PROJECTS :</h4>
        <div class="subsection-title fw-bold">ARIES TO FARMER</div>
        <div>Feb 2024 - Present</div>
        <li>Technologies Used: Java 1.8, JSP, Spring MVC, Hibernate, jQuery, MySQL, Maven</li>
        <li>Comprehensive call center application built from scratch.</li>
        <li>Facilitated efficient communication and task management among multiple roles.</li>
        <li>Developed workflows for data collection, call assignments, and escalation processes.
        </li>
        <li>Ensured seamless role-based workflows.</li>
        <li>Created a schema in MySQL to store user roles, farmer data, call logs, and other
            relevant information.</li>
        <li>Ongoing maintenance and updates for optimal performance and user satisfaction.</li>

        <div class="subsection-title fw-bold">ARIES KHAZAANA APPLICATION</div>
        <div>Aug 2023 - Jan 2024</div>
        <li>Enhanced and extended functionalities of the Aries Khazaana application.</li>
        <li>Identified and resolved bugs, optimizing performance for better user experience.
        </li>
        <li>Conducted code maintenance to ensure cleanliness, organization, and adherence to
            coding standards.</li>
        <li>Developed and maintained an e-commerce mobile application, enabling product
            purchases through the Aries Khazaana app.</li>
        <li>Implemented features for product approval from the Aries side, with status updates
            integrated from the Elevator team via API, and ensured data consistency by updating
            the database accordingly.</li>

        <div class="subsection-title fw-bold">ARIES INTEGRATED MANAGEMENT SYSTEM - AIMS</div>
        <div>Mar 2023 - Aug 2023</div>
        Technologies Used: Java 1.8, JSP, Spring MVC, Hibernate, jQuery, MySQL, Maven.<li>
            Contributed to ongoing enhancements and maintenance of the Aries Integrated
            Management System.</li>
        <li>Detected and addressed software bugs, improving overall quality and performance.
        </li>

  </div>


</div>
