<div class="container-fluid">
  <div class="row" >
    <div class="col-sm-3">
      <div class="profile" style="display: flex;justify-content: center;">
        <div class="profile-bg"></div>

        <img [src]="'/assets/images/uthay.png'"alt=""  style="margin-top: 6px;margin-left: -82px;max-width: 150%;" />
    </div>

    </div>
    <div class="col-sm-9">
      <div class="card">
         <div style="position: absolute;right: 6%;top: 8%;">
        <a href="./assets/files/Uthayakumar_Resume.pdf" download class="btn btn-primary">
            <i class="bi bi-cloud-download-fill"></i> Download Resume
        </a>
      </div>
          <div class="card-body" style="box-shadow: 0px 0px 20px 5px #2013ff;">
              <h5 id="dynamicTitle" class="card-title" style="font-size: 24px; font-weight: 800;">Hello I'm
                  <br> Uthayakumar. V
              </h5>

              <div id="userDetailsContainer">
                  <table class="table table-borderless text-light" style="color:rgb(3, 9, 14)">
                      <tbody>
                          <tr>
                              <td>
                                  <label style="font-size: large; font-weight: bold;">Date of Birth</label>
                              </td>
                              <td align="left">21-04-1998</td>
                          </tr>
                          <tr>
                              <td>
                                  <label
                                      style="font-size: large; font-weight: bold;">Mobile</label>
                              </td>
                              <td  align="left">8344754763</td>
                          </tr>
                          <tr>
                              <td>
                                  <label style="font-size: large; font-weight: bold;">Email</label>
                              </td>
                              <td  align="left">uthayakumar.venkattachalam&#64;gmail.com</td>
                          </tr>
                          <tr>
                              <td>
                                  <label style="font-size: large; font-weight: bold;">LinkedIn</label>
                              </td>
                              <td align="left" >
                                  <a href="https://www.linkedin.com/in/uthayakumar-venkatachalam-017754249/"
                                      style="color: #00acee; margin-top: 54px;">https://www.linkedin.com/in/uthayakumar-venkatachalam-017754249/</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
</div>
</div>
</div>
