
<div class="container-fluid">
  <div>
    <app-header></app-header>
  </div>
  <div class="card">
      <div class="card-header">
          <h3>About Uthayakumar</h3>
      </div>
      <div class="card-body">
          <p>I am Uthayakumar, a dedicated and hardworking Java Full Stack Developer with over 2 years of professional experience. Known for being a calm and patient individual, I excel at problem-solving with a meticulous and detail-oriented approach. I am also recognized for my adaptability and quick learning abilities, which enable me to grasp new technologies swiftly and apply them effectively.</p>

          <p>I am a compassionate and empathetic team player, always ready to lend a hand and collaborate with others. My intelligence and creativity drive me to find innovative solutions to complex challenges, while my positive attitude and loveable nature make me approachable and easy to work with. I am passionate about continuous learning and improving both technically and personally.</p>

          <p>Currently, I am seeking exciting opportunities to contribute my skills and grow further as a Java Developer in Coimbatore.</p>
      </div>
  </div>
</div>
